<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h2>Blog</h2>
</div>

<div class="col-md-12">


<input type="text" data-ng-model="post.title" placeholder="Title">
<br>
<input type="text" data-ng-model="post.pic" placeholder="Picture">
<br>
<textarea data-ng-model="post.content" cols="50" rows="10" placeholder="Content"></textarea>
<br>
<input type="text" data-ng-model="post.author" placeholder="Author">
<button data-ng-click="newPost(post)">Create</button>

</div>