<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h2>Blog</h2>
</div>

<div class="col-md-12">

<section class="blogPost" data-ng-repeat="post in posts">
	<h3>{{post.title}}</h3>
	<div ng-controller="CollapseDemoCtrl">
	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">View Post</button>
	<hr>
		<div collapse="isCollapsed">
			<div class="well well-lg">
				<img ng-src="{{post.pic}}"></img>
				<p>{{post.content}}</p>
				<em>by: {{post.author}}</em>
				<br>
			</div> 
		</div>
	</div>
	

	<a href="#/blog/{{post._id}}"><button class="btn btn-sm btn-warning pull-right">Admin</button></a>
</section>

</div>

<div class="footer">
  <logo-directive></logo-directive>
</div>

