<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h2>Update Blog</h2>
</div>


<div class="col-md-12">


<input type="text" data-ng-model="post.title" value="{{post.title}}">
<br>
<input type="text" data-ng-model="post.pic" value="{{post.pic}}">
<br>
<textarea data-ng-model="post.content" cols="50" rows="10">{{post.content}}</textarea>
<br>
<input type="text" data-ng-model="post.author" value="{{post.author}}">
<button data-ng-click="edit()">Update Post</button>

</div>