<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h2>Edit Blog</h2>
</div>


<div class="col-md-12">


<section>
	<h1>{{post.title}}</h1>
	<img ng-src="{{post.pic}}">
	<p>{{post.content}}</p>
	<em>{{post.author}}</em>
	<br>
	<a href="#/blog/{{post._id}}/edit">Edit</a> | <a ng-click="delete()">Delete</a>
</section>

</div>

<div class="footer">
  <logo-directive></logo-directive>
</div>