<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li class="active"><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h2>Blog</h2>
</div>

<div class="col-md-12">


<button class="btn btn-sm btn-success pull-right postBtn" data-ng-click="createPost()">Create New Post</button>
<section data-ng-repeat="post in posts">
	<h3>{{post.title}}</h3>

	<img ng-src="{{post.pic}}"></img>
	<p>{{post.content}}</p>
	<em>by: {{post.author}}</em>
	<br>

	<a href="#/blog/{{post._id}}">view more</a>
</section>

</div>

<!-- <div ng-controller="CollapseDemoCtrl">
	<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>
	<hr>
	<div collapse="isCollapsed">
		<div class="well well-lg">Some content</div> 
	</div>
</div> -->