<div class="header">
  <h2>Checkout</h2>
</div>


<a ng-href="#/product"><button class="btn btn-lg btn-default pull-right"> Continue Shopping</button></a>

<div class="col-md-8">



<div class="CartItemsCtrl">
<div class="checkOut">
  <div ng-repeat="product in products" class="purchaseItem">
    <button ng-click="delete(item)" class="btn btn-sm btn-danger pull-right">Remove</button>
    <h4>{{product.title}}</h4>
    <p>{{product.price | currency}}<p>
    <a ng-href="#/product"><button class="btn btn-lg btn-default pull-right"> Continue Shopping</button></a>
  </div>
  <h3>Total: {{total}}</h3>
</div>
</div>


</div>