<div class="header">
  <h2>Checkout</h2>
</div>


<a ng-href="#/product"><button class="btn btn-lg btn-default pull-right"> Continue Shopping</button></a>

<div class="col-md-8">
<div class="checkOut">
  <div ng-repeat="item in items" class="purchaseItem">
    <a href="#/cart/{{item._id}}"><button class="btn btn-sm btn-warning pull-right">Edit Item</button></a>
    <h4>{{item.title}}: {{item.quantity}} ea</h4>
    <p>{{item.quantity * item.price | currency}}<p>
  </div>
  <h3>Total: {{}}</h3>
</div>
</div>