<div class="header">
  <h2>Checkout</h2>
</div>


<a ng-href="#/product"><button class="btn btn-lg btn-default pull-right"> Continue Shopping</button></a>

<div class="col-md-8">
<div class="checkOut">
  <div ng-repeat="cartItem in items" class="purchaseItem">
    <a href="#/cart/{{cartItem._id}}"><button class="btn btn-sm btn-warning pull-right">Edit Item</button></a>
    <h4>{{cartItem.title}}: {{cartItem.quantity}} ea</h4>
    <p>{{cartItem.quantity * cartItem.price | currency}}<p>
  </div>
  <h3>Total: {{item.quantity * item.price * item.length}}</h3>
</div>
</div>