<h3>
  {{product.title | uppercase}}
  <em class="pull-right"> {{product.price | currency}} </em>
</h3>

<img ng-src="{{product.pic1}}"></img>

  <section ng-controller="PanelController as panel">
    <a href="#/product/{{product._id}}"><button class="btn btn-sm btn-warning pull-right">Edit Product</button></a>
        <ul class="nav nav-tabs">
          <li ng-class="{active: panel.isSelected(0)}"> 
            <a href ng-click="panel.selectTab(0)">Description</a> 
          </li>
          <li ng-class="{active: panel.isSelected(1)}"> 
            <a href ng-click="panel.selectTab(1)">Photo 2</a> 
          </li>
          <li ng-class="{active: panel.isSelected(2)}"> 
            <a href ng-click="panel.selectTab(2)">Photo 3</a> 
          </li>
          <li ng-class="{active: panel.isSelected(3)}"> 
            <a href ng-click="panel.selectTab(3)">Rating</a> 
          </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(0)">
          <h4>Description </h4>
          <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(1)">
          <img ng-src="{{product.pic2}}"></img>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <img ng-src="{{product.pic3}}"></img>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <div ng-controller="RatingDemoCtrl">
            <h4>Rate</h4>
            <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
            <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show="overStar && !isReadonly"></span>

            <pre style="margin:15px 0;">Rate: <b>{{rate}}</b></pre>

            <button class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button>
           <!--  <button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button> -->
            <hr />
          </div>
        </div>
      </section>
      <div class="imagecarousel" ng-show="isVisible">
              <div>
                <carousel interval='4000'>
                  <slide class="active">
                    <img ng-src="{{product.pic1}}" style="margin:auto;">
                  </slide>
                  <slide>
                    <img ng-src="{{product.pic2}}" style="margin:auto;">
                  </slide>
                  <slide>
                    <img ng-src="{{product.pic3}}" style="margin:auto;">
                  </slide>
                </carousel>
              </div> 
            </div>

      

  <div ng-controller="CartItemsCtrl">
        <p>Quantity</p>
        <input type="number" data-ng-model="product.quantity">
        <button ng-click="addItem(product)" class="btn btn-sm btn-success">Add to Cart</button>
  </div>