<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h1 class="text-muted">Crossfit Depot</h1>
</div>

  <h1>Products</h1>

<input type="text" data-ng-model="product.title" value="{{product.title}}">
<br>
<input type="text" data-ng-model="product.thumbnail" value="{{product.thumbnail}}">
<br>
<textarea data-ng-model="product.description">{{product.description}}</textarea>
<br>
<input type="text" data-ng-model="product.price" value="{{product.price | currency}}">
<button data-ng-click="edit()">Update Product</button>