<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h2>Product Detail</h2>
</div>


<div class="col-md-12">


<section>
	<h3>{{product.title}}</h3>
	<div>
	    <carousel>
	      <slide class="active">
	        <img ng-src="{{product.pic1}}" style="margin:auto;">
	      </slide>
	      <slide>
	        <img ng-src="{{product.pic2}}" style="margin:auto;">
	      </slide>
	      <slide>
	        <img ng-src="{{product.pic3}}" style="margin:auto;">
	      </slide>
	    </carousel>
	  </div>
	<p>{{product.description}}</p>
	<p>{{product.price | currency}}</p>
	<a href="#/product/{{product._id}}/edit"><button class="btn btn-small btn-warning pull-right">Admin</button></a>
</section>

</div>

<div class="footer">
  <logo-directive></logo-directive>
</div>