<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h1 class="text-muted">Crossfit Depot</h1>
</div>

<h1>Products</h1>

<button class="btn btn-sm btn-success" data-ng-click="createProduct()">Create New Product</button>
<section data-ng-repeat="product in products">
	<h3>{{product.title}}</h3>
	<img ng-src="{{product.pic1}}"></img>
	<img ng-src="{{product.pic2}}"></img>
	<img ng-src="{{product.pic3}}"></img>
	<p>{{product.description}}</p>
	<p>{{product.price | currency}}</p>

	<button class="btn btn-sm btn-danger adminBtn"><a href="#/product/{{product._id}}">Admin</a></button>
</section>