<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
  </ul> 
  <h2>Create Product</h2>
</div>

<div class="col-md-12">


<input type="text" data-ng-model="product.title" placeholder="Title">
<br>
<input type="text" data-ng-model="product.pic1" placeholder="pic1">
<input type="text" data-ng-model="product.pic2" placeholder="pic2">
<input type="text" data-ng-model="product.pic3" placeholder="pic3">
<br>
<textarea data-ng-model="product.description" cols="50" rows="10"placeholder="Product Description"></textarea>
<br>
<input type="text" data-ng-model="product.price" placeholder="Price">
<button data-ng-click="newProduct(product)">Create</button>

</div>

<div class="footer">
  <logo-directive></logo-directive>
</div>