<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h1 class="text-muted">Crossfit Depot</h1>
</div>


<div class="col-md-12">
<h1>Edit Products</h1>

<section>
	<h3>{{product.title}}</h3>
	<img ng-src="{{product.pic1}}"></img>
	<img ng-src="{{product.pic2}}"></img>
	<img ng-src="{{product.pic3}}"></img>
	<p>{{product.description}}</p>
	<p>{{product.price | currency}}</p>
	<a href="#/product/{{product._id}}/edit">Edit</a> | <a ng-click="delete()">Delete</a>
</section>

</div>