<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
    <li><a ng-href="#/admin">Admin</a></li>
  </ul>
  <h2>Products</h2>
</div>


<div class="col-md-12">

<section class="productSection" data-ng-repeat="product in products">
  
  <my-directive></my-directive>

</section>


<a ng-href="#/cart"><button class="btn btn-lg btn-default pull-right cart"><span class="glyphicon glyphicon-shopping-cart"></span> Check Out</button></a>

</div>

</div>

<div class="footer">
  <logo-directive></logo-directive>
</div>

