<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li class="active"><a ng-href="#/product">Shop</a></li>
    <li><a ng-href="#/blog">Blog</a></li>
  </ul>
  <h2>Update Products</h2>
</div>

<div class="col-md-12">


<input type="text" data-ng-model="product.title" value="{{product.title}}">
<br>
<input type="text" data-ng-model="product.pic1" value="{{product.pic1}}">
<input type="text" data-ng-model="product.pic2" value="{{product.pic2}}">
<input type="text" data-ng-model="product.pic3" value="{{product.pic3}}">
<br>
<textarea data-ng-model="product.description" cols="50" rows="10">{{product.description}}</textarea>
<br>
<input type="text" data-ng-model="product.price" value="{{product.price}}">
<button data-ng-click="edit()">Update Product</button>

</div>

<div class="footer">
  <logo-directive></logo-directive>
</div>