body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.background {
    padding-top: 0;
    padding-bottom: 20px;
    // background: #ddd;
    background: url(/images/barbell.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.productSection {
	margin-top: 100px;
	border-bottom: 1px solid #ddd;
}

.createBtn {
	margin-left: 100px;
	margin-bottom: 50px;
}

.adminBtn a {
  	color: #fff;
}

.adminBtn a:hover {
	color: #fff;
	text-decoration: none;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    line-height: 40px;
    padding-bottom: 19px;
}

.nav > li > a {
    color: #5e5e5e;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #5e5e5e;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.nav-tabs {
 border-bottom: none; 
}
