body {
  	padding: 50px;
  	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding-top: 0;
	padding-bottom: 20px;
	// background: #ddd;
	background: url(http://fc09.deviantart.net/fs10/i/2006/107/d/2/Sepia_Factory_by_AllTheWorldsSquirrel.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.container {
	background-color: #fff;
	min-height: 800px;
	max-width: 1050px;
	opacity: 0.97;

}

.productSection {
	margin-top: 150px;
	border-bottom: 1px solid #838383;
}

.createBtn {
	margin-left: 100px;
	margin-top: 50px;
}

.postBtn {
	margin-left: 1000px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.adminBtn a {
  	color: #fff;
}

.adminBtn a:hover {
	color: #fff;
	text-decoration: none;
}

.header h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 37%;
    line-height: 40px;
    padding-bottom: 19px;
}

.storeName h1 {
	text-align: center;
	font-size: 50pt;
	color: #0d6b22;
	margin-bottom: 50px;
	margin-top: 100px;
}

.containerLogo {
    text-align:center;
    height:50%;
 }
 .containerLogo img {
    position:relative;
    top:25%;
 }

/*.logo {
	margin-left: auto;
	margin-right: auto;

}*/
.nav > li > a {
    color: #5e5e5e;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #5e5e5e;
}

.nav, .pagination, .carousel, .panel-title a { 
	cursor: pointer; 
}

.nav-tabs {
 border-bottom: none; 
}

.cart {
	margin-top: 100px;
	margin-bottom: 100px;
}

a:hover {
	text-decoration: none;
}

.checkOut {
	margin-left: 20%;
}

.jumbotron {
	min-height: 400px;
	max-width: 600px;
}

.shopCart {
    margin-top: 80px;
}

.purchaseItem {
    border-bottom: 2px dashed #000;
}

.total {
	margin-right: 50px;
}

.blogPost {
	margin-top: 150px;
	border-bottom: 1px solid #838383;
}
